.xp-1 {
    padding: 0 3px!important;
}

.xp-2 {
    padding: 0 8px!important;
}

.xp-3 {
    padding: 0 10px!important;
}

.xp-4 {
    padding: 0 13px!important;
}

.xp-5 {
    padding: 0 15px!important;
}

.xm-1 {
    margin: auto 3px!important;
}

.xm-2 {
    margin: auto 8px!important;
}

.xm-3 {
    margin: auto 10px!important;
}

.xm-4 {
    margin: auto 13px!important;
}

.xm-5 {
    margin: auto 15px!important;
}

.bm-1 {
    margin-bottom: 3px!important;
}

.bm-5 {
    margin-bottom: 15px!important;
}

.bm-6 {
    margin-bottom: 30px!important;
}

.tm-1 {
    margin-top: 3px!important;
}

.tm-2 {
    margin-top: 5px!important;
}

.tm-5 {
    margin-top: 15px!important;
}

.nav-extended img {
    height: 55px;
    margin: 5px auto;
}

.sidenav {
    text-align: center;
}

.sidenav img {
    margin-top: 20px;
    overflow: hidden;
}

.card {
    height: 350px!important;
}

.card .card-image {
    height: 150px;
}

.card .card-image img {
    max-width: 100%;
}

.card .card-title {
    font-size: 16px;
    font-weight: 500;
}

.card .card-price {
    font-size: 16px;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    color: #000;
    top: 100%;
    z-index: 10;
    background-color: white;
    padding: 10px;
    height: auto;
    /* min-height: 400px; */
    min-width: 400px;
}

#lista-carrito td,
#lista-carrito th {
    padding: 5px 5px;
    line-height: 20px;
}

#lista-carrito tbody {
    min-height: 50px;
}

#lista-carrito .qty {
    text-align: center;
}

.delete-item {
    color: #b71c1c;
}

.carousel {
    height: 250px;
}

.product-title {
    margin: 25px auto 15px;
}

.price,
.available {
    color: #405d27;
    font-weight: bold;
    display: inline;
}

.no-available {
    color: #b30000;
    font-weight: bold;
    display: inline;
}

.input-field label {
    font-weight: 500;
}