.xp-1 {
    padding: 0 3px;
}

.xp-2 {
    padding: 0 8px;
}

.xp-3 {
    padding: 0 10px;
}

.xp-4 {
    padding: 0 13px;
}

.xp-5 {
    padding: 0 15px;
}

.xm-1 {
    margin: auto 3px;
}

.xm-2 {
    margin: auto 8px;
}

.xm-3 {
    margin: auto 10px;
}

.xm-4 {
    margin: auto 13px;
}

.xm-5 {
    margin: auto 15px;
}

.bm-5 {
    margin-bottom: 15px;
}

.bm-6 {
    margin-bottom: 30px;
}

.tm-5 {
    margin-top: 15px;
}

.nav-extended img {
    height: 55px;
    margin: 5px auto;
}

.sidenav {
    text-align: center;
}

.sidenav img {
    margin-top: 20px;
    overflow: hidden;
}

.card .card-title {
    font-size: 16px;
    font-weight: 500;
}

.card .card-price {
    font-size: 16px;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    color: #000;
    top: 100%;
    z-index: 10;
    background-color: white;
    padding: 10px;
    height: auto;
    /* min-height: 400px; */
    min-width: 400px;
}

#lista-carrito td,
#lista-carrito th {
    padding: 0 5px;
    line-height: 20px;
}

#lista-carrito tbody {
    min-height: 50px;
}

#lista-carrito .qty {
    text-align: center;
}

.delete-item {
    color: #b71c1c;
}