.xp-1{
    padding: 0 3px;
}
.xp-2{
    padding: 0 8px;
}
.xp-3{
    padding: 0 10px;
}
.xp-4{
    padding: 0 13px;
}
.xp-5{
    padding: 0 15px;
}
.xm-1{
    margin: auto 3px;
}
.xm-2{
    margin: auto 8px;
}
.xm-3{
    margin: auto 10px;
}
.xm-4{
    margin: auto 13px;
}
.xm-5{
    margin: auto 15px;
}
